{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Paypal</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	<center>
	<fieldset id="outer">
	<fieldset>
		<img src="{% static 'images/paypal_image.png' %}">
		<input type="text" name="" placeholder="Email or mobile number">
		<input type="submit" name="" value="Next" id="loginbox">
		<div>or</div>
		<input type="submit" name="" value="Sign up" id="signupbutton">
	</fieldset>
	</fieldset>	
	</center>

</body>
</html>